packages:
  yum:
    git: []
    postgresql93-devel: []
    libjpeg-turbo-devel: []

files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIApplicationGroup %{GLOBAL}

commands:
  01_add_dist_files_to_site:
    command: "echo /usr/local/lib/python2.7/dist-packages > /opt/python/run/venv/local/lib64/python2.7/site-packages/dist.pth"    

container_commands:
  00_makemigration:
    command: "python manage.py makemigrations --noinput"
    leader_only: true
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "python manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: website/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: /static/
